<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{(meal$! |async)?.name}}</mat-card-title>
            <mat-card-subtitle>{{(meal$! |async)?.size}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="(meal$! |async)?.cover" alt="meal image" />
    </mat-card>

    <div
     fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <h2>
            price: {{(mealStat$! |async)?.price}}; <br>
            weeklyIncome: {{(mealStat$! |async)?.weeklyIncome}}; <br>
            totalIncome: {{(mealStat$! |async)?.totalIncome}}; <br>
            weeklyOrder: {{(mealStat$! |async)?.weeklyOrder}}; <br>
            totalOrder: {{(mealStat$! |async)?.totalOrder}};
    </h2>
    </div>
</div>