.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url("https://i.pinimg.com/originals/60/ed/ab/60edabe557e8139d52dae12f380205dc.png");
  background-size: cover;
}

.full-width {
  width: 100%;
}
