<div class="grid-container">
  <h1 class="mat-h1">Fake Market</h1>
  <form [formGroup]="customerForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>CustomerId</mat-label>
      <input
        type="text"
        matInput
        placeholder="CustomerId"
        formControlName="customerId"
        [value]="customerForm.get('customerId')"
    /></mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>orderId</mat-label>
      <input
        type="text"
        matInput
        placeholder="orderId"
        formControlName="orderId"
        [value]="customerForm.get('orderId')"
    /></mat-form-field>
  </form>
  <div
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="25px"
  >
    <mat-card
      *ngFor="let meal of meals | async"
      fxFlex="calc(33%-25px)"
      fxFlex.sm="calc(50%-25px)"
    >
      <mat-card-header>
        <mat-card-title>
          {{ meal.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ meal.size }} {{ meal.price | currency }}
        </mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="meal.cover"
        alt="meal image"
        [routerLink]="['meal-view', meal.mealId]"
      />

      <mat-action-list>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="buy(meal)"
        >
          Buy
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="complete()"
        >
          Complete
        </button>
      </mat-action-list>
    </mat-card>
  </div>
</div>
